@using CakeShop.ViewModels
@{
    ViewData["Title"] = "Home Page";
}

@model List<CakeViewModel>

<div class="home-page">
    <p><i>A party without cake is really just a meeting</i></p>
    
 
    
    <div>
        <img src="https://cdn.statically.io/img/timelinecovers.pro/facebook-cover/download/cherry-chocolate-cake-facebook-cover.jpg" style="width:100%" alt="...">
    </div>
    
</div>



